<h5><b>PEP</b></h5>
<hr>
<form (ngSubmit)="onClick()">
  <div class="form-gropup row"> 
    <label for="condition">
      Are you a Potentially Exposed Person, have or is an immediate family member of a Foriegn Political Public Figure ?
    </label> <br/>

    <label> <input type="radio" name="condition" required/>Yes</label>
    <label> <input type="radio" name="condition" required/>No</label><br/>
    

    <h4> Please complete <a href="">the Noble Bank Certificate of Politically Exposed Person</a></h4> <br/>

    <button type="submit" class="btn btn-primary">Next</button>

  </div>
</form>